::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4b4b4b;
}

*{
    font-family: 'Poppins', sans-serif;
}

#car{
    width: 900px;
    position: absolute;
    top: 280px;
    left: 1150px;
}

[type="checkbox"]{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
